<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-playintegrity" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>playintegrity</name>
    <js-module name="playintegrity" src="www/playintegrity.js">
        <clobbers target="cordova.plugins.playintegrity" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PlayIntegrity">
                <param name="android-package" value="com.example.PlayIntegrity" />
            </feature>
        </config-file>
        <source-file src="src/android/PlayIntegrity.java" target-dir="src/com/example" />
    </platform>
</plugin>
